.navContainer {
  display: inline-block;
  margin-left: 50px;
}

.nav-main {
  padding: 0 50px;
  width: 100%;
  background-color: #fff;
  height: 80px;
}

.navbar {
  box-sizing: border-box;
  width: 100%;
}

.navbar a {
  font-size: 26px;
  line-height: 80px;
  height: 80px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  color: #040404;
}

.navbar a.nav-router {
  display: inline-block;
}

.navbar a:hover {
  color: #33c28a;
}

.navbar a.nav-active {
  color: #33c28a;
  border-bottom: 6px solid #33c28a;
}

.logoBg {
  vertical-align: top;
  background-color: #33c28a;
  display: inline-block;
  width: 260px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  margin-top: 10px;
  width: auto;
  height: 60px;
}

.userNav {
  display: inline-block;
  float: right;
}

.user-login-router {

}

.user-register-router {

}
