<div class="nav-main">
  <div class="logoBg">
    <img src="../../assets/logo.png" alt="logo" class="logo">
  </div>
  <div class="navContainer">
    <nav class="navbar">
      <a class="nav-router" routerLink="/index" routerLinkActive="nav-active">首页</a>
      <a class="nav-router" routerLink="/shop" routerLinkActive="nav-active">商城</a>
      <a class="nav-router" routerLink="/community" routerLinkActive="nav-active">社区</a>
    </nav>
  </div>
  <div class="userNav">
    <nav class="navbar">
      <a class="user-login-router" routerLink="/login">登录</a>
      <a class="user-register-router" routerLink="/register">注册</a>
    </nav>
  </div>
</div>
