<div class="community-main">
  <div class="community-sort">
    <span>最近主题</span>
    <span>最近回复</span>
    <span>精华热帖</span>
    <span>热门主题</span>
  </div>
  <div class="community-news">
    <ul class="community-news-detail">
      <li><span>金桔树苗, 金桔，脆皮金桔</span><span>2018-03-19</span></li>
      <li><span>金桔树苗, 金桔，脆皮金桔</span><span>2018-03-19</span></li>
      <li><span>金桔树苗, 金桔，脆皮金桔</span><span>2018-03-19</span></li>
      <li><span>金桔树苗, 金桔，脆皮金桔</span><span>2018-03-19</span></li>
      <li><span>金桔树苗, 金桔，脆皮金桔</span><span>2018-03-19</span></li>
      <li><span>金桔树苗, 金桔，脆皮金桔</span><span>2018-03-19</span></li>
    </ul>
  </div>
  <div class="community-strict">
    <div class="community-question">
      <h3 class="community-head">问答区</h3>
      <div class="community-item">
        <div class="community-left">
          <span class="community-green community-large">G10</span>
          <span>主题: 65, 帖数: 2628</span>
        </div>
        <div class="community-left-nums">
          <span>1/1</span>
        </div>
        <div class="community-left-news">
          <span class="community-green">暑期三下乡组队</span>
          <span>2018-03-08 00:03 admin</span>
        </div>
      </div>
      <div class="community-item">
        <div class="community-left">
          <span class="community-green community-large">V8</span>
          <span>主题: 65, 帖数: 2628</span>
        </div>
        <div class="community-left-nums">
          <span>1/1</span>
        </div>
        <div class="community-left-news">
          <span class="community-green">暑期三下乡组队</span>
          <span>2018-03-08 00:03 admin</span>
        </div>
      </div>
    </div>
    <div class="community-share">
      <h3 class="community-head">分享区</h3>
      <div class="community-item">
        <div class="community-left">
          <span class="community-green community-large">G10</span>
          <span>主题: 65, 帖数: 2628</span>
        </div>
        <div class="community-left-nums">
          <span>1/1</span>
        </div>
        <div class="community-left-news">
          <span class="community-green">暑期三下乡组队</span>
          <span>2018-03-08 00:03 admin</span>
        </div>
      </div>
      <div class="community-item">
        <div class="community-left">
          <span class="community-green community-large">V8</span>
          <span>主题: 65, 帖数: 2628</span>
        </div>
        <div class="community-left-nums">
          <span>1/1</span>
        </div>
        <div class="community-left-news">
          <span class="community-green">暑期三下乡组队</span>
          <span>2018-03-08 00:03 admin</span>
        </div>
      </div>
    </div>
  </div>
</div>
