 <div class="upper-panel">
   <nav class="index-navbar">
     <a routerLink="/product">
       <img src="../../assets/products.png" alt="农产品" class="index-img">
     </a>
     <a routerLink="/county">
       <img src="../../assets/county.png" alt="村户" class="index-img">
     </a>
     <a routerLink="/community">
       <img src="../../assets/community.png" alt="社区" class="index-img">
     </a>
   </nav>
 </div>
 <div class="index-lower-panel">
      <h1 class="big-title">e小亩田</h1>
      <h3 class="sub-title">基于精准扶贫背景下的B2C农产品电商平台</h3>
 </div>
