  <div class="shop-upperBox">
      <h1 class="shop-logo-container">
        <img src="../../assets/head.png" alt="head" class="shop-search-logo">
      </h1>
      <div class="search-container">
        <input type="text" class="shop-search-bar">
        <button class="shop-search-button">
          <i class="anticon anticon-search"></i>
        </button>
      </div>
  </div>
  <div class="shop-choseBox">
    <a routerLink="/product" class="shop-router">
      <img src="../../assets/county01.png" alt="村户" class="shop-img">
      <span>精选农产品</span>
    </a>
    <a routerLink="/county" class="shop-router">
      <img src="../../assets/product01.png" alt="农产品" class="shop-img">
      <span>特色农户</span>
    </a>
  </div>
  <div class="shop-lowerBox">

  </div>
