/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f7f5f6;
}

.yellow {
  color: #f9e966;
}

.blue {
  color: #62a1f3;
}

.orange {
  background-color: #ff6936;
  border: none;
}
